{% extends 'base.html.twig' %}

{% block title %}New DeliveryMethod{% endblock %}

{% block body %}
    <h1>Create new DeliveryMethod</h1>

    {{ include('delivery_method/_form.html.twig') }}

    <a href="{{ path('app_delivery_method_index') }}">back to list</a>
{% endblock %}
