<footer class="container-fluid bg-light">
{#         
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p> #}
        <div class="row">
        <section class="col">article1</section>
        <section class="col"> article2</section>
        <section class="col"> article3</section>
       
        </div>
        
        <!-- /.container -->
        </footer>